# do not push db files to github because they tend to become large
# also, this python project at the moment generates sqlite db files, which will consume github storage
# use the janitor_db_vacuum.py to clean up the db file of unused space
db_store/*

# Ignore everything in the directory: your large 500MB text files
/inputfiles/*
# But don't ignore these files
!/inputfiles/dummy.txt

# do not include the venv directory
venvname/

# control_vars.py stores variable values as cache
__pycache__





